<legend>Grocery Detail</legend>
<form [formGroup]="itemForm" (ngSubmit)="onSubmit()">
  <!-- title -->
  <div class="form-group row">
    <label for="title" class="col-3 col-form-label">Title</label>
    <div class="col">
      <input type="text" class="form-control" id="title" placeholder="Title" required formControlName="title" readonly>
      <div [hidden]="!invalidTitle()" class="alert alert-danger">
        <p>{{ this.serverErrors.title }}</p>
      </div>
    </div>
  </div>

  <!-- notes -->
  <div class="form-group row">
    <label for="notes" class="col-3 col-form-label">Notes (Optional)</label>
    <div class="col">
      <textarea name="notes" id="notes" rows="10" class="form-control" placeholder="Enter your notes here"
        formControlName="notes" readonly></textarea>
    </div>
  </div>

  <div class="form-group row">
    <div class="col" *ngIf="true">
      <button type="button" class="btn btn-primary">Edit</button>
    </div>
    <div class="col" *ngIf="true">
      <button type="submit" class="btn btn-primary" [disabled]="!itemForm.valid">Save changes</button>
    </div>
    <div class="col">
      <button type="button" class="btn btn-danger">Delete</button>
    </div>
  </div>
</form>
