<h1>New Grocery Item</h1>
<form>
  <div class="form-group row">
    <label for="title" class="col-3 col-form-label">Title</label>
    <div class="col">
      <input type="text" class="form-control" id="title" placeholder="Title">
    </div>
  </div>
  <div class="form-group row">
    <label for="notes" class="col-3 col-form-label">Notes (Optional)</label>
    <div class="col">
      <textarea name="notes" id="notes" rows="10" class="form-control" placeholder="Enter your notes here"></textarea>
    </div>
  </div>
  <div class="form-group row">
    <div class="col">
      <button type="submit" class="btn btn-primary">Add to list</button>
    </div>
  </div>
</form>
